<h1>HELLO WORLD!</h1>

<h2>Message history</h2>
<ul id="message-history">
</ul>

<form id="send-message">
  <label for="message">Send a message to the group</label>
  <input id="message" type="text">
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="chat-cli.js"></script>
<script>
  const chat = chatCLI()

  document.querySelector('#send-message').addEventListener('submit', function (event) {
    event.preventDefault()
    const msg = document.querySelector('#send-message #message').value
    chat.message().send(msg)
  })

  chat.message().onReceive(function (msg) {
    const list = document.querySelector('#message-history')
    const li = document.createElement('li')
    li.appendChild(document.createTextNode(msg))
    list
      .appendChild(li)
  })
</script>