html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px 10px;
}

.chatPanel {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.chatPanel .panel-heading {
  background-color: hsl(171, 100%, 41%);
  color: white;
  font-size: 12px;
  font-weight: bold;
}

.chatPanel .chatPanel-list {
  flex: 1;
  align-items: flex-start;
}

.chatPanel .chatPanel-list ul {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  overflow-y: scroll;
  width: 100%;
}
